.Owner-btn{
// background-color: #fff;
width: 100%;
height: 60px;

}
.btn{
   margin-left: 65px;
    margin-top: 15px;
}
.img{
    background-image: url("~src/assets/images/owner-hotel.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}