.reg-btn{
    padding: 9px 38px;
    margin-top: 11px;
}
.div{
    border: 1px solid greenyellow;
    width: 100%;
    height: 64px;
    background-color:navy;
}
// .main-div{
//     background-image: url("~src/assets/images/Hotel-reg.jpg");
//     background-size: cover;
//     height: 100%;
//     width: 100%;
// }