.img{
    background-image: url("~src/assets/Images/Ownersign-in.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
}
.main{
    width: 520px;
    border: 1px solid #cb3709;
    background-color: rgb(255, 224, 239);
    margin: auto;
    padding: 15px;
    text-align: center;
    margin-bottom: 200px;
}
.inp{
    size: -74px;
}
body{border: 1px solid black;
    margin: auto;
    text-align: center;
    height: 271px;
    width: 153px;
    padding: 104px 150px;}


    