<div class="img">
<div class="main">
    <h3 style="text-align: center;">Login Here</h3>
    <form #SignInform="ngForm" class="forms">
        <mat-form-field>
            <mat-label>Enter User Id Here</mat-label>
            <input  matInput placeholder="Enter User Id Here" class="inp">
        </mat-form-field><br><br>
        <mat-form-field>
            <mat-label>Enter Password Here</mat-label>
            <input  matInput placeholder="Enter User Id Here">
        </mat-form-field>
        
    </form>
</div>
</div>