.img{
    background-image: url("~src/assets/Images/Ownersign-in.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
}
.main{
    width: 400px;
    // height: 480px;
    border: 1px solid #cb3709;
    background: #000000;
    color:#fff;
    top:140px;
    left: 50%;
  position: relative;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 40px 80px;
  box-shadow: #000000;
  

}
.inp{
    size: -74px;
}

.div-container{
    position: absolute;
    top: 140px;
   left: 40%;
}

    